
%opacity {
  opacity: 0;
  transition: opacity .45s ease;
  @extend %opacity;
  ._play-anim & {
    opacity: 1;
  }
}

.banner {
  margin-top: 100vh;
  font-size: toRem(18);
  font-weight: 500;
 
  overflow: hidden;
  min-height: toRem(600);
  display: flex;
  flex-direction: column;
  img {
    width: 100%;
    height: auto;
  }
}
.container {
  flex: 1;
  position: relative;
  padding-inline: toRem(20);
  width: 100%;
  max-width: toRem(1270);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &::before,
  &::after {
    @media (min-width:$mobileSmall){
      content:'';
      position: absolute;
      opacity: 0.7;
      bottom: 0;
      z-index: 0;
      background-image: url("../img/elements/shadow.png");
      background-repeat: no-repeat;
      background-size: contain;
      height: toRem(523);
      width: toRem(723);
    }
  }
  &::before {
    @media (min-width:$mobileSmall){
      left: 0%;
      transform: translate(-45%,0);
    }
  }
  &::after {
    @media (min-width:$mobileSmall){
      right: 0;
      transform: scaleX(-1) translate(-40%,0);
    }
  }
  @media (min-width:toEm(850.98)){
    padding-bottom: toRem(20);
  }
  @media (max-width: toEm(850.98)){
    padding-bottom: toRem(50); 
  }
  @media (min-width:$mobileSmall){
    padding-top: toRem(10);
  }
  @media (max-width:$mobileSmall){
     padding-top: toRem(30);
  }
}

// === HEADER =================
.header {
  color: #817d66;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &._play-anim {

  }
  @media (min-width:$mobileSmall){
     margin-bottom: toRem(15); 
  }
  @media (max-width:$mobileSmall){
     margin-bottom: toRem(30); 
  }
}

.headerTxt {
  @extend %opacity;
  ._play-anim & {
    transition-delay: 0.3s;
  }
}
.headerRight {
  @media (min-width:$mobileSmall){
    display: flex;
    align-items: center;
    gap: 0 toRem(72);
  }
}
.headerLogo {
  @extend %opacity;
  ._play-anim & {
    transition-delay: 0.4s;
  }
  @media (min-width:$mobileSmall){
    // max-width: toRem(98);
  }
  @media (max-width:$mobileSmall){
     display: none; 
  }
}
.headerTxt2 {
  @extend %opacity;
  max-width: toRem(30);
  ._play-anim & {
    transition-delay: 0.5s;
  }
}

// === BODY =========================
.logoBigWrap {
  flex: 1;
  position: relative;
  z-index: 2;
  @media (min-width:toEm(1300.98)){
    margin: 0 toRem(-84);
  }
  @media (max-width: toEm(1300.98)){
      margin: 0 toRem(-20);
  }
}

.logoBigPrl {
  position: relative;
}


.logoBigImg {
  top: 0;
  left: 50%;
  transform: translate(-50%,0%);
  @media (min-width:toEm(850.98)){
    position: relative;
  }
  @media (max-width: toEm(850.98)){
    position: absolute;
    width: toRem(850) !important;
  }
}

.cleanFit {
  position: absolute;
  z-index: 3;
  top: 57%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: toRem(457);
  padding-inline: toRem(20);
  width: 100%;
  pointer-events: none;
}
.cleanImg {
  @extend %opacity;
  ._play-anim & {
    transition-delay: 0.3s;
  }
}

// == PERSONS ==========================================
.personsItems {
  position: absolute;
  inset: 0;
  z-index: 2;
  display: grid;
  align-items: end;
  @media (min-width:$mobileSmall){
    grid-template-columns: repeat(6,1fr);
  }
  @media (max-width:$mobileSmall){
    grid-template-columns: repeat((3,1fr));   
  }
}
.personsItem {
  position: relative;
  img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
    transform-origin: center;
    width: toRem(413) !important;
    transition: transform .55s ease;
    @media (any-hover: hover){
      &:hover{
        cursor: pointer;
        transform: translate(-50%,0) scale(1.05);
      }
    }
  }
  &.item2,
  &.item3,
  &.item4 {
    @media (max-width:$mobileSmall){
       display: none; 
    }
  }
  &.item1 {
    @media (min-width:$mobileSmall){
      z-index: 2;
    }
    @media (max-width:$mobileSmall){
       z-index: 4; 
    }
  }
  &.item2 {
    z-index: 3;
  }
  &.item3 {
    z-index: 4;
  }
  &.item4 {
    z-index: 3;
  }
  &.item5 {
    z-index: 2;
  }
  &.item6 {
      z-index: 1;
  }
}

// == FOOTER =============================================
.footer {
  letter-spacing: 0.05em;
  font-weight: 500;
  color: #fff;
  position: relative;
  z-index: 5;
  align-items: center;
  @media (min-width:toEm(850.98)){
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  @media (max-width: toEm(850.98)){
    display: flex;
    justify-content: space-between;
  }
  @media (max-width:$mobileSmall){
     flex-direction: column-reverse; 
     gap: toRem(10);
  }
}
.foonterItem {
  &.item1 {
    @extend %opacity;
    ._play-anim & {
      transition-delay: 0.3s;
    }
  }
  &.item2 {
    @extend %opacity;
    ._play-anim & {
      transition-delay: 0.4s;
    }
    @media (min-width:toEm(850.98)){
      position: relative;
      display: grid;
      place-items: center;
      width: 100%;
      min-height: toRem(53);
      max-width: toRem(184);
      justify-self: center;
      span {
        display: inline-block;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          bottom: toRem(-2);
          left: 0;
          width: 100%;
          height: toRem(2);
          background-color: #fff;
          transition: opacity .3s ease 0s;
        }
      }
      &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        background-color: #D32A2B;
        transition: background-color .3s ease 0s;
      }
      @media (any-hover: hover){
        &:hover{
          &::before {
            background-color: #000;
          }
        }
      }
      &:active {
        span {
          &::before {
            opacity: 0;
          }
        }
      }
    }
    @media (max-width: toEm(850.98)){
      display: none;
    }
  }
  &.item3 {
    @extend %opacity;
    ._play-anim & {
      transition-delay: 0.5s;
    }
    justify-self: flex-end;
    
  }
}

